/Clase01/AprendiendoJavaClase01/nbproject/private/
/Clase01/AprendiendoJavaClase01/build/
/Clase02/AprendiendoJava/nbproject/private/
/Clase02/AprendiendoJava/build/
/Clase02/AprendiendoJava14/target/
/Clase03/AprendiendoJava/nbproject/private/
/Clase03/AprendiendoJava/build/
/Clase04_24OCT21/JavaClase04/nbproject/private/
/Clase04_24OCT21/JavaClase04/build/
/Clase04_24OCT21/TodoBarato/nbproject/private/
/Clase04_24OCT21/TodoBarato/build/
/Clase05_30OCT21/TodoBarato - copia/build/
/Clase05_30OCT21/TodoBarato - copia/nbproject/private/
/Clase05_30OCT21/Ejecicio01/build/
/Clase05_30OCT21/Ejecicio01/nbproject/private/
/Clase05_30OCT21/Ejercicio01/nbproject/private/
/Clase05_30OCT21/Ejercicio01/build/
/Clase05_30OCT21/JavaClase05/nbproject/private/
/Clase05_30OCT21/JavaClase05/build/
/Clase05_30OCT21/ProyectoEjemplo/nbproject/private/
/Clase05_30OCT21/ProyectoEjemplo/build/
/Clase06_07NOV21/Clase06/nbproject/private/
/Clase06_07NOV21/Clase06/build/
/Clase06_07NOV21/EduTecLib/nbproject/private/
/Clase06_07NOV21/EduTecLib/build/
/Clase06_07NOV21/EduTecApp/nbproject/private/
/Clase06_07NOV21/EduTecLib/dist/
/Clase06_07NOV21/EduTecApp/build/
/Clase06_07NOV21/AngelesDelCielo/nbproject/private/
/Clase06_07NOV21/AngelesDelCielo/build/
/Clase07_14NOV21/Clase07/nbproject/private/
/Clase07_14NOV21/Clase07/build/
/Clase07_14NOV21/VentaApp/build/
/Clase07_14NOV21/VentaApp/nbproject/private/
/Clase07_14NOV21/CasaDeCambio/nbproject/private/
/Clase07_14NOV21/CasaDeCambio/build/
/Clase11-12DIC21/EurekaApp/target/
